body{

}
:root{
	--color-negro:#282d33;
	--menu-hover:#282d33;
	--fondo-footer:#30363d;
	--color-footer:#898989;
}
header{
	background-color: #fff;
}
footer{
	background-color: var(--fondo-footer);
	color: var(--color-footer);
	padding: 20px 0;
	text-align: center;
	font-size: 13px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Catamaran', sans-serif;
}

p {
	font-family: 'Catamaran', sans-serif;
}
button .active{
	background-color: #fff;
}
.active {
	background-color: #f4f4f4;
	height: 46px;
}

.carousel-indicators li {
      width: 15px;
			height: 15px;
			border-radius: 100%;
      }


#intro {
	padding: 60px;
}
#intro p, h3 {
	color: #898989;
	padding-top: 30px;
}

	#intro img {
		width: 300px;
		height: auto;
	}

.divider {
	margin: 5rem 0;
}
#services p, h3 {
	color: #898989;
	padding-top: 30px;
}

#clients {
		padding: 60px;
}

#clients img {
	width: 200px;
	height: auto;
}

#cta{
	padding-top: 60px;
}

.cta-img {
	width: 1100px;
	height: 320px;
	padding-top: 100px;
	color: #fff;
}

.cta-background {
	background-image: url(../img/home-grid-banner.jpg)
}

#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;

}
